<div class="back">
   <div class="container">
      <div class="empty_block"></div>
      <header class="header">


         <p class="sing_txt">Регистрация прошла успешно!</p>


      </header>
      <main class="info">
         <div class="main-info">
            <div class="sign_in_block">
               <div class="main-form">

                  <div class="input-form">
                     <form>
                        <div class="form_">
                           <div class="your_log">Ваш логин:</div>
                           <input type="text" placeholder="Владимир Смирнов" disabled class="form-text" id="ulogin"
                              name="login">
                        </div>

                        <div class="form_">
                           <div class="your_passw">Ваш пароль:</div>
                           <input type="text" placeholder="*сгенер. пароль*" disabled class="form-text" id="upassword"
                              name="password">
                        </div>
                     </form>
                  </div>
                  <div class="callb-send">
                     <button class="well">Хорошо! </button>

                  </div>
               </div>
            </div>
         </div>

      </main>
   </div>
</div>