<div class="back">
   <div style=" padding-bottom: 5%">
      <app-head-auth></app-head-auth>
      <div class="sign_in_block">
         <div class="main-form">

            <div class="input-form">
               <form>
                  <div>
                     <input type="text" placeholder="Логин" class="form-text" id="ulogin" name="login">
                  </div>

                  <div>
                     <input type="text" placeholder="Пароль" class="form-text" id="upassword" name="password">
                  </div>
               </form>
            </div>
            <div class="ask-text">
               <p>Нет аккаунта?</p>
               <p>Зарегистрироваться</p>
            </div>
         </div>
      </div>

      <button class="sign_in">Регистрация</button>
   </div>
</div>