<div class="back">
   <div class="container">
      <system-head></system-head>
      <main class="info">
         <div class="main-info">
            <div class="info-age-s">
               <button class="go-main">на главную</button>

            </div>
            <div class="video-transl">
               <div class="traslate">
                  <img src="../../../assets/img/graph.png" alt="" class="smile">
               </div>
            </div>
            <div class="setting">
               <button class="face_">за час</button>
               <button class="statistic">за день</button>
               <button class="functional">за месяц</button>
            </div>
         </div>

      </main>
   </div>
</div>