.header{
	padding: 5% 0;
}
.choose{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.choose img {
   width: 124px;
   height: 100%;
}
.sing_txt{
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 64px
}