
.back{
   background-image: url(../../../assets/img/background_3.jpg);
	width: 100%;
	margin: 0 auto;
   color: #ffffff;
	background-size: cover;
	backdrop-filter: blur(30px);
   height: 100vh;
}
.container{
 max-width: 90%;
}

.header{
	padding: 5% 0;
}
.choose{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.sing_txt{
	display: flex;
	align-items: center;
	text-align: center;
	Font-size: 64px
}
.sign_in_block,.video-transl{
	margin-left: 5%;
  margin-right: 5%;
	background: #251C37;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 25px #6151EB;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38%;

	flex-direction: column;

}
.setting ,.info-age-s{
	width: 23%;
}
.traslate{
	margin: 18% 0 7% 0;
}
.sign_in_block{
	Font-size: 48px

}
.comments{
	margin-bottom: 5%;
	Font-size: 40px
}
.main-info{
	display: flex;
	justify-content: center;
}
.sign_in{
	background: #6151EB;
	border-radius: 20px;
	width: 80%;
	border: none;
	color:#FFFFFF;
	height: 26%;
	margin: 6% auto;
}
