<div class="back">
   <div class="container">
      <app-head-auth></app-head-auth>
      <main class="info">
         <div class="main-info">
            <div class="video-transl">
               <div class="traslate">
                  <img src="../../../assets/img/video.png" alt="" class="smile">
               </div>

               <div class="comments">
                  Сканировать лицо
               </div>
            </div>
            <div class="sign_in_block">
               <button class="sign_in">Регистрация</button>
            </div>
         </div>

      </main>
   </div>
</div>