<div class="background">
   <p class="text-ghostly" style="position: absolute; width: 100%; padding-top: 23%">Калибровка</p>
   <div class="flex-tile-row">
      <div class="flex-tile">
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="circle"></div>
      </div>
      <div class="flex-tile">
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="circle"></div>
      </div>
      <div class="flex-tile">
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="circle"></div>
      </div>
   </div>
</div>