.back{
	width: 100%;
	background: #0F051C;
	margin: 0 auto;
	color:#FFFFFF;
	background-image: url(../../../assets/img/backgr2.jpg);
	background-size: cover;
	background-color:rgba(0, 0, 0, .5);
	backdrop-filter: blur(30px);
   height: 100vh;
}
.container{
 max-width: 90%;
}

.header{
	padding: 5% 0;
}
.choose{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.choose img {
   width: 124px;
   height: 100%;
}
.sing_txt{
	display: flex;
	align-items: center;
	text-align: center;
	Font-size: 64px
}
.sign_in_block{
	margin: 0 auto;
	background: #251C37;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 25px #6151EB;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	flex-direction: column;
	border-radius:25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 25px #6151EB;
}
.main-form{
	width: 80%;
}
.callb-send{

	margin-bottom:10% ;
	
}

.input-form{
	margin:7% 0 10% 0 ;
	width: 100%;
}
.form-text{
	margin:4% 0;
	width: 100%;
	border-radius:20px;
	border:none;
	padding:2% 0 2% 8%;
	font-size: 34px;
}
.sign_in{
	background: #6151EB;
	border-radius: 20px;
	width: 68%;
	border: none;
	color:#FFFFFF;
	height: 22%;
	margin: 0 auto;
	Font-size: 24px;
	display: block;
	margin:0 auto;
	padding:4% 6%;
}
