<div class="back">
   <div class="container">
      <header class="header">
         <div class="choose">
            <img src="../../../assets/img/face.png" alt="" class="face">
            <div class="sing_txt">Регистрация</div>
            <img src="../../../assets/img/mouse.png" alt="" class="mouse">
         </div>
      </header>
      <main class="info">
         <div class="main-info">
            <div class="sign_in_block">
               <div class="main-form">

                  <div class="input-form">
                     <form>
                        <div>
                           <input type="text" placeholder="Логин" class="form-text" id="ulogin" name="login">
                        </div>

                        <div>
                           <input type="text" placeholder="Пароль" class="form-text" id="upassword" name="password">
                        </div>
                     </form>
                  </div>
                  <div class="callb-send">
                     <button class="sign_in"> Регистрация </button>

                  </div>
               </div>
            </div>
         </div>

      </main>
   </div>
</div>