<div class="back">
   <div class="container">
      <system-head></system-head>
      <main class="info">
         <div class="main-info">
            <div class="info-age-s">
               <button class="sex">пол</button>
               <button class="age">возраст</button>
               <button class="on-all">включить все</button>
            </div>
            <div class="video-transl">
               <div class="traslate">
                  <img src="../../../assets/img/video.png" alt="" class="smile">
               </div>

               <div class="comments">
                  видео с вебки
               </div>
            </div>
            <div class="setting">
               <button class="face_">эмоции</button>
               <button class="statistic">статистика</button>
               <button class="off-all">выкл. функц</button>
            </div>
         </div>

      </main>
   </div>
</div>